.card-header {

	font-size: 20px;
	text-align: left;
	text-decoration: underline;
	font-style: italic;
	text-align: center;
	background-color: silver;
}
.card-body {

	text-align: center;
}

#bajar2 {

	margin-top: 25px;
}


@media(max-width: 576px) {

	#bajar {

		margin-top: 25px;
	}
}
