.card-header {

	font-size: 20px;
	text-align: left;
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
}
.card-body {

	text-align: center;
}

#bajar2 {

	margin-top: 25px;
}


@media(max-width: 576px) {

	#bajar {

		margin-top: 25px;
	}
}
