body {

	font-family: helvetica;
}

h3 {

	margin-top: 50px;
	font-weight: bold;
}

.card-register  {

	max-width: 40rem;
}

 #center {

	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px; 
}

#logo {

	padding-top: 25px;
	width: 100px;
	height: 150px;
}

#separar {

	margin-top: 20px;
}