body {

	font-family: helvetica;
}

h3 {

	margin-top: 50px;
	font-weight: bold;
}

.card-register  {

	max-width: 40rem;
}

 #center {

	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px; 
}

#progress-bar {
	
	margin-top: 5px;
}


#title {

	margin-top: 5px;
}


